header{
    background-color: var(--accent-color);
 }

 header section{
    margin-bottom: 4rem;
 }

 header section p{
    font-size: 1.2rem; font-weight: 700;
 }

 header .quote{
        margin: 0;
        border-radius: .4rem;
     }

    /* logo */
    .logo{
        display: flex; gap: 1rem;
        width: 40vw;
        align-items: center;
        margin-bottom: 6.4rem;
        
        }

        .logo img{
            display: inline-block;
            height: 4.8rem;
        }

        .logo p{
            line-height: .8;
            font: bold 1.2rem Quicksand, sans-serif;
}

.hmls form{
    padding: 2rem 1rem;

}



footer *{
    color: var(--white);
    text-align: center;
}

footer .copyright{
    font-variant: small-caps;
}

footer .socials{
    border-bottom: .5px solid var(--gray);
    width: 80%; margin: 0 auto;

    font: bold 1.1rem/1.604 Quicksand sans-serif;
    margin-bottom: 1rem;
}



@media screen and (min-width: 600px) {
    body{
        /* background-color: var(--black); */
    }

    footer .socials{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 2rem;
        gap: 1rem; 
        font: bold 1.1rem/1.604 Quicksand sans-serif;

        margin-bottom: 1.5rem;
        padding-bottom: .4rem;

        border-bottom: 1px solid var(--white);
    }

}


@media screen and (min-width: 1200px) {
    body{
        background-color: green;
    }

    footer .socials{
        /* display: grid; */
        /* grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(2, 1.2rem); */
        /* gap: .4rem; */
        font: bold 1.1rem/1.604 Quicksand sans-serif;
        margin-bottom: 4rem;
        align-items: center;
    }

    
}






