/* buttons */
.btn{
    padding: .4rem .8rem;
    outline: none; border: 1px solid var(--black);
    background: transparent;
    border-radius: 2px;
    font: var(--mbl-p); color: var(--black);
}

.btn-gray{
    padding: .2rem .8rem;
    border: none;
    background: var(--gray);
}

.btn1{
    border: none;
    color: var(--white);
    background-color: var(--black);
}

.btn2{
    color: var(--primary-color);
    border-color: inherit;
}

.btn3{
    background: var(--accent-color); color: var(--primary-color);
    font-weight: bold;
    border: none;
}

::placeholder{
    color: var(--light-primary-color);
    font-family: Quicksand, sans-serif;
}


/* blocks */
    .quote{
        background-color: var(--white);
        padding: 40px 60px 20px;
        border-left: solid 4px var(--light-primary-color);
        margin: 4rem;
        }

            .quote .qt-body p:first-of-type:after{
                content: '';
                display: block;
                height: 1px; width: 24%;
                background-color: var(--primary-color);
                /* border-bottom: 2px solid var(--gray); */
            }

            .quote span{
                font-family: Quicksand; color: var(--primary-color);
                font-size: var(--smfont);
                display: inline-block;
                padding-bottom: .4rem;
            }

            .quote span:nth-of-type(2){
                color: var(--black);
                display: inline-block; padding: .2rem .8rem; margin: 0 .2rem;
                background-color: var(--light-primary-color);
            }

    /* a single quote */
    .quotes{
        display: flex; justify-content: center;
        gap: .4rem; flex-wrap: wrap;
    }

        .aquote{
            min-width: 300px;
            background: var(--light-primary-color);
            padding: 1rem;
            border-radius: .4rem;
        }



.bordered{
    padding: .2rem .8rem; margin: 1rem 0;
    border: .5px solid var(--light-primary-color);
    border-radius: 4px;
}

.buttons{
    display: flex;
    gap: 1rem;
}

.buttons.column{
    /* padding:; */
    flex-direction: column;
    align-items: flex-end;
}


/* form elements */
label{
    font: 1rem/1.604 Hp, sans-serif;
}

input[type=radio]{
    font-size: 3rem;
}

input[type=text], textarea{
    font-family: Hp; font-size: 1rem;
    font: 1rem/1.604 Hp, sans-serif;
    padding: .8rem .8rem .2rem;
    outline: none; border: none;
    background-color: var(--white);
    width: 80%;
    border-bottom: 2.4px solid var(--primary-color);
 }
 .form-element + .form-element{
    margin-top: 1rem;
 }

 .hmls form button[type=submit]{
    margin-top: 1rem;
    display: block;
    min-width: 40%;
 }

 .flex{
    display: flex;
    align-items: center;
}

 .flex-col{
    display: flex; flex-direction: column;
 }

.gap-1{gap: 1rem;}
.gap-2{gap: 2rem;}
.gap-3{gap: 3rem;}
.gap-p5{gap: .5rem;}




